body{
    display: grid;
    grid-template-rows: 6.3% 10% 10% 10% 10% 10% 10% ;
    grid-template-columns: auto auto 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;

}
nav{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    height: 100vh;
    transition: width 0.2s ease-in-out, background-color 1s linear 0.2s;
    width: 20px;
    border-right: 1px solid rgb(218, 218, 218);
}
header{
    grid-row: 1;
    grid-column: 2 / 20;
    display: grid;
    grid-template-columns: 5% 17% 30% 10% auto 5%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding-top: 10px;
}
.dropdown{
    grid-column: 2;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 8px;
}
.dropdown:hover{
    cursor: pointer;
    background-color: rgb(220, 220, 220);
}
.navhidden{
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.2;
}
.GetPlusButton{
    grid-column: 4;
    border-color: white;
     border-radius: 8px;
}
.GetPlusButton:hover{
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}
.Text{
    grid-column: 6;
    width: 40px;
  height: 40px; 
  border-radius: 50%;
  border-color: white;
  background: transparent;
}
.Text:hover{
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}   
section{
    grid-row: 3;
    grid-column: 5 / 15;
    font-size: 2em;
    text-align: center;
    padding-top: 20vh;
}
textarea{
    grid-row: 6;
    grid-column: 4 /16;
    width: 90%;
    height: 10px;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(200, 200, 200);
}
textarea:focus{
    outline: none;
    border: 2px solid rgb(150, 150, 150);
    grid-row: 7;
}